<!DOCTYPE html>
<html>
  <head>
    <title>Food</title>
    <% include templates/header %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/search.css"/>
  </head>
  <body>
    <% include templates/navbar %>
    Messages
  </body>
</html>