<!DOCTYPE html>
<html>
  <head>
    <title>Food</title>
    <% include templates/header %>
  </head>
  <body>
    <% include templates/navbar %>
    <h1>Food search</h1>
    <ul>
        <% for (var i = 0; i < results.length; i++) { %>
            <li><%= results[i].food_name %></li>
            <ul>
                <% for (var j = 0; j < descriptions[i].length; j++) { %>
                    <li><%= descriptions[i][j] %></li>
                <% } %>
            </ul>
        <% } %>
    </ul>
  </body>
</html>